html {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    
}
.hatter {
     background-image: url(pictures/mathieu-stern-1zO4O3Z0UJA-unsplash.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
 }
.re {
    position: relative;
}

.fej {
    background-repeat: no-repeat;
    position: relative;
    padding: 10px;
    margin: auto;
    background-color: #c0bdbda4;
    width: 170px;
    border-radius: 15px;
}

.ls{
    background-color: #c0bdbda4;
    border-radius: 15px;
    width: 400px;


}
 .vissza {
    right: 20px;
    bottom: 10px;
    position: absolute;
 }
 
a {
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;

}

.reg {
    width: max-content;
}

.table {
    width: 50%;
}

.gomb {
    display: flex;
    justify-content: right;
}

::-webkit-scrollbar {
width: 0px;
}
::-webkit-scrollbar-thumb {
background: #FF0000;
}

@media (max-width: 540px) {
    body {
        background-image: none;
    }

    .table {
        width: 100%;
    }

    .button {
        width: 100%;
    } 

}

@media (min-width: 540px) {
    th {
        width: 150px;
    }
}




