html {
    height: 100vh;
}

.re {
    position: relative;
}

.fej {
    background-image: url(pictures/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    position: relative;
}
 .vissza {
    right: 20px;
    bottom: 10px;
    position: absolute;
 }
a {
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    
}