/Client/Java/Admin/.env
/Server/.env
/Client/Java/Admin/lib/com.google.api.client/nbproject/private/
/Client/Java/Admin/lib/com.google.api.client/build/
/Client/Java/Admin/lib/org.json.simple/build/
/Client/Java/Admin/lib/org.springframework.security.crypto.bcrypt/build/
/Client/Java/Admin/lib/org.json.simple/dist/
/Test/Selenium/Java/WebTest/nbproject/private/
/Test/Selenium/Java/WebTest/build/
/Test/Selenium/Java/WebTest/dist/